MONGO_URL= mongodb+srv://hussaingheewala0_db_user:NgH22bqHhGXRLH4U@autohub.fm34bqt.mongodb.net/?appName=Autohub
DB_NAME=crm_production
CORS_ORIGINS=*
JWT_SECRET=Husain_Autohub_CRM_2026_JWT_Secure_Key_4f9K2mX8Qp7Lz3Rn5Vt
